.all {

    font-family: "DotGothic16", sans-serif;
}

.gameStartBtn {
    display: block;
    width: 100px;
    margin: 20px auto 0 auto;
    background-color: rgb(91, 91, 211);
    color: white;
}


.timeCounter {
    width: 300px;
    height: 100px;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    font-size: 56px;
    text-align: center;

}

.collectCount {
    height: 70px;
    width:
        300px;
    font-size: 30px;
    margin: 20px auto 0 auto;
    text-align: center;
}

.timeSet {
    width: 100px;
    height: 40px;
}


.timeSet :focus {
    border: 3px solid rgb(113, 113, 255);
}

.timeSetWrapper {
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: center;

}

.timeSetWrapper label {
    font-size: 20px;

}