/* 全体設定 */
:root {
    --accent: #246;
    --grey: #666;
    --bg: #fff;
    --card: #f8f8f8;
    --customacc: rgba(189, 222, 251, 0.589)
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, 'Hiragino Kaku Gothic ProN', Meiryo, Arial;
    line-height: 1.5;
    margin: 0;
    background: var(--bg);
    color: #222
}

/* トップバー設定 */
.nav {
    display: flex;
    gap: 1rem;
    padding: 7px;
    margin: 0;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    background: var(--card);

}

.nav a {
    display: inline-block;
    padding: 5px 15px;
    margin: 0;
    color: var(--accent);
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease 0s;
    border-radius: 50px;

}

.nav a:hover {
    background: #00698f 0.3;
    color: #222;
    backdrop-filter: blur(4px);
    transform: translateY(-2px);
    /* 少し上に浮かせる（視覚的なクリック感） */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* 影をつけて浮遊感を出す */
}

/* アニメーションを設定 */
/* HTMLでclassに"u-fade-up delay-〇〇"を入れることで使用可能 */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
        /* 20px下からスッと浮き上がる */
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 2. アニメーションを「適用する」ためのベースクラス */
.u-fade-up {
    opacity: 0;
    /* 最初は隠す */
    animation-name: fadeInUp;
    animation-duration: 0.8s;
    /* 0.8秒かけて再生 */
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    /* 再生後に消えないように固定 */
}

/* 3. 「時間差（ディレイ）」を作るための調整用クラス */
.delay-100 {
    animation-delay: 0.1s;
}

.delay-300 {
    animation-delay: 0.3s;
}

.delay-500 {
    animation-delay: 0.5s;
}

.delay-700 {
    animation-delay: 0.7s;
}

.delay-1000 {
    animation-delay: 1s;
}

.delay-2000 {
    animation-delay: 2s;
}

.delay-4000 {
    animation-delay: 4s;
}



.commonBtn {
    margin: 4px;
    /* font-family: "Bungee", sans-serif; */
    font-family: "DotGothic16", sans-serif;
    padding: 0 10px 0 10px;
    background-color: rgba(255, 255, 255, 0.463);
    border-color: rgba(255, 255, 255, 0);
    box-shadow: 2px 2px rgb(147, 147, 147);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;

}

.commonBtn:hover {
    background: #00698f 0.3;
    color: #222;
    border-color: #00698f80;
    border-width: 1px;
    backdrop-filter: blur(4px);
    transform: translateY(-1px);
    /* 少し上に浮かせる（視覚的なクリック感） */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* 影をつけて浮遊感を出す */
}

/* フッター設定
.footer{
    padding:1rem;
    text-align:center;
    color:var(--grey);border-top:1px solid #eee;margin-top:2rem} */