.first-view {
    background-color: red;
    background: url(./photos/IMG_2790.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    overflow: hidden;
    font-size: 56px;
    color: var(--accent);
    line-height: 140%;
    text-align: right;
}

.first-view h1 {
    /* margin-left: 40px; */
    letter-spacing: 20px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 80px;
}

.first-view h2 {
    /* marfin-left: 40px; */
    letter-spacing: 15px;
    text-align: center;
    font-size: 80px;
    /* margin-top: 0; */
    color: rgb(97, 176, 245);
}

.second-view {
    font-size: 32px;
    text-align: center;
    color: var(--accent);

}