.first-view {
    background-color: red;
    background: url(./photos/IMG_5098.jpeg);
    background-size: 700px;

    font-size: 56px;
    color: var(--accent);
    line-height: 250%;
    text-align: center;
    /* background-position:  ; */

    height: 80vh;

}

.my-img {
    display: block;
    object-position: 30%;
    width: 500px;
    object-fit: cover;
    margin: 0 auto;
    height: 600px;
}