.first-view {
    background-color: red;
    background: url(./photos/dfuns\ 2021-05-05\ 184443.258.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    overflow: hidden;
    font-size: 80px;
    color: var(--accent);
    line-height: 140%;
    text-align: right;

}

.first-view h1 {
    color: rgba(8, 0, 153, 0.62);
    font-size: 80px;
    /* margin-left: 40px; */
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 80px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.first-view h1 {
    opacity: 0;
    /* 最初は消しておく */
    animation: fadeInUp 1.2s ease forwards;
    /* 1.2秒かけて実行し、最後の状態を維持 */
}

/* h1：即座に、または少しだけ待って開始 */
.first-view h1 {
    animation-delay: 0.5s;
}

/* h2：h1が終わる頃に追いかけて開始（ディレイを長くする）
.first-view h2 {
    animation-delay: 1.0s;
}

.first-view h3 {
    animation-delay: 1.8s;
} */


.second-view {
    background-color: var(--card);
    font-size: 32px;
    text-align: center;
    color: var(--accent);

}

.first-section {
    padding: 2% 0 2% 0;
    background-color: #fff;
    display: flex;
    margin: 0 0 0 0;
}

.first-section figure {
    margin: 0 20px 0 10%;
    flex-shrink: 0;
}

.first-section img {
    display: block;
    height: 300px;
    border-radius: 5px;
    margin: 0;
}

.first-section figcaption {
    font-size: 18px;
    color: #666;
    margin-top: 8px;
    text-align: center;
}